<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            {{ title }} - microblog
        {% else %}
            {{ _('My microblog !') }}
        {% endif %}
    </title>

    {% assets filters="cssmin", output="gen/app.css",
          "css/bootstrap.min.css", "css/app.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets filters="jsmin", output="gen/app.js", "js/moment.min.js"%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        moment.lang('{{ g.locale }}');
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index.home') }}">Microblog</a>
        </div>

        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <!-- Right Nav Section -->
            <ul class="nav navbar-nav navbar-right">
                {% if g.user.is_authenticated() %}

                      <form class="navbar-form navbar-left" role="search" method="post" name="search" action="{{ url_for('global.search') }}">
                        <div class="form-group">
                            {{ g.search_form.hidden_tag() }}
                            {{ g.search_form.search(size=20, class="form-control", placeholder=_("Search")) }}
                        </div>
                        <button type="submit" class="btn btn-default">{{ _('Search') }}</button>
                      </form>

                    <li>
                        <a href="{{ url_for('user.user', nickname=g.user.nickname) }}"><span
                                class="glyphicon glyphicon-user"></span>
                            {{ _('You Profile') }}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li><a href="{{ url_for('login.logout') }}">
                        <span class="glyphicon glyphicon-log-out"></span>
                        {{ _('Logout') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="page-header">
        {% block page_header %}
        {% endblock %}
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for categ, msg in messages %}
                <div class="alert alert-{{ "warning" if categ == "message" else categ }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">&times;</button>
                    {{ msg }}<br/>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>


<!-- Javascript -->

{% assets filters="jsmin", output="gen/app-body.js",
                           "js/jquery.js", 'js/bootstrap.min.js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>