<!DOCTYPE html>
<html>
<head>
    <title>
        {% if title %}
            {{ title }} - microblog
        {% else %}
            My microblog !
        {% endif %}
    </title>
</head>
<body>
    <div>
        Microblog:
        <a href="{{ url_for('index.home') }}">Home</a>
        {% if g.user.is_authenticated() %}
            | <a href="{{ url_for('login.logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr/>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for msg in messages %} <li>{{ msg }}</li> {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>