{% extends "base.html" %}
{% import "frontend/_macros.html" as macros %}

{% block page_header %}
    <h1>{{ _('Posts') }}</h1>
{% endblock %}

{% block content %}

    <div class="panel panel-default">

        <div class="panel-heading">
            {{ _('Hi %(nickname)s !', nickname=g.user.nickname) }}
        </div>

        <div class="panel-body">
            <form action="" method="post" name="post">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group">
                            {{ form.post(size=30, maxlength=140, class="form-control", placeholder=_('Say something...')) }}
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    {{ _('Post!') }}
                                </button>
                            </span>
                            {% for error in form.errors.post %}
                                <span class="text-danger">[{{ error }}]</span>
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>
            <hr/>
            {% for post in posts.items %}
                {% include "frontend/_post.html" %}
            {% endfor %}

            {# --- Pagination --- #}
            {{ macros.render_pagination(posts, '.home') }}

        </div>
        <ul class="list-group">
        </ul>
    </div>
{% endblock %}