{% extends "base.html" %}
{% import "frontend/_macros.html" as macros %}

{% block page_header %}
    <h1>User's Profile</h1>
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <img src="{{ user.avatar(50) }}" alt="user-icon"
                 style="vertical-align: top"/>

            <div style="display: inline-block">
                User: <strong>{{ user.nickname }}</strong>
                {% if g.user.id == user.id %}
                    - <a href="{{ url_for('user.edit') }}">Edit</a>
                {% endif %}
                <br/>
                {% if user.about_me %}
                    {{ user.about_me }}<br/>
                {% endif %}
                {% if user.last_seen %}
                    <em>Last seen on: {{ momentjs(user.last_seen).calendar() }}</em><br/>
                {% endif %}
                <div>
                    {{ user.followers.count() }} followers
                    {% if user.id != g.user.id %}
                        {% if not g.user.is_following(user) %}
                            |
                            <a href="{{ url_for('user.follow', nickname=user.nickname) }}">Follow</a>
                        {% else %}
                            |
                            <a href="{{ url_for('user.unfollow', nickname=user.nickname) }}">UnFollow</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-body">
            {% for post in posts.items %}
                {% include "frontend/_post.html" %}
            {% endfor %}

            {# --- Pagination --- #}
            {{ macros.render_pagination(posts, '.user', nickname=user.nickname) }}
        </div>
    </div>

{% endblock %}